/* Стили для списка ul */
.list {
    background-color: #f0f0f0; /* Цвет фона плашки */
    padding: 10px; /* Внутренний отступ для создания плашки */
    border-radius: 5px; /* Скругление углов плашки */
}

/* Стили для элементов списка li */
.list li {
    margin-bottom: 10px; /* Отступ между элементами списка */
}

ul {
    list-style-type: none;
}

/* Стили для формы на странице добавления и редактирования клиента */
.form-card {
    background-color: #f0f0f0; /* Цвет фона плашки */
    padding: 20px; /* Внутренний отступ для создания плашки */
    border-radius: 5px; /* Скругление углов плашки */
    margin-bottom: 20px; /* Отступ снизу для разделения форм */
}